@import "../abstracts/variables";
@import "../components/navBar";

/* ----- ABOUT ----- */

/* Classes */

.section3 {
  display: flex;
  justify-content: center;
  margin-top: 120px;

  img {
    border: 15px solid $green-color;
    height: 60vh;
  }
}

.section4Container {
  background-color: white;
  height: 700px;

  .section4 {
    margin-top: 137px;
    margin-left: 170px;
    margin-right: 120px;

    h2 {
      color: $purple-color;
      font-family: "Roboto Slab", serif;
      text-align: left;
      margin-bottom: 20px;

      span {
        background-color: rgba(170, 242, 219, 0.4);
        border-radius: 20px;
      }
    }

    p {
      margin-right: 70px;
    }
  }
}

@media only screen and (min-width: 400px) and (max-width: 650px) {
  .section3 {
    margin-top: 122px;
    // margin-bottom: 115px;
    img {
      margin-bottom: 122px;
    }
  }

  .section4 {
    width: 300px;
    margin-left: 50px;

    h2 {
      margin-left: -80px;
      margin-top: -40px;
    }

    p {
      margin-left: -80px;
    }
  }
}

@media only screen and (min-width: 651px) and (max-width: 935px) {
  .section3 {
    margin-top: 122px;
    // margin-bottom: 115px;
    img {
      margin-bottom: 122px;
    }
  }

  .section4 {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin-right: 0px;
    }
  }
}

@media only screen and (min-width: 936px) and (max-width: 974px) {
  .section3 {
    margin-top: 122px;
    // margin-bottom: 115px;
    img {
      margin-bottom: 122px;
    }
  }

  .section4 {
    width: 520px;
    margin-left: 50px;

    h2 {
      margin-left: 120px;
    }

    p {
      margin-left: 120px;
    }
  }
}
