@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../components/navBar";

/* ----- CONTACT ME ----- */

/* Tags */

label {
  color: $grey-color;
  font-family: $font-stack;
  font-size: 1em;
  padding-bottom: 10px;
}

/* Class's */

.backColor {
  background-color: white;
  display: flex;
  height: 700px;
}

.container {
  margin-top: 70px;
  margin-bottom: 120px;
  padding-top: 35px;

  .contactPhoto {
    img {
      height: 30vh;
      margin-left: -130px;
      margin-top: 60px;
    }
  }

  .formTitle {
    margin-bottom: 20px;
    margin-top: 50px;

    h1 {
      @include h1;
      font-size: 3em;
    }
  }

  .formContainer {
    margin-left: 30px;

    .email {
      @include contactPadding;
    }

    .country {
      @include contactPadding;
    }

    .message {
      @include contactPadding;
    }

    .submit {
      margin-top: 22px;
      background-color: $purple-color;
      border-color: $light-grey-color;
      color: white;

      &:hover {
        background-color: white;
        border-color: $purple-color;
        color: $purple-color;
      }
    }
  }
}

/* MEDIA QUERIES */

@media only screen and (min-width: 400px) and (max-width: 769px) {
  .backColor {
    background-color: white;
    display: flex;
    height: 800px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .contactPhoto {
      img {
        height: 25vh;
        margin-left: 30px;
        margin-top: 70px;
      }
    }

    .formTitle {
      h1 {
        font-size: 2em;
      }
    }

    .formContainer {
      margin-left: 20px;
      width: 350px;
    }
  }
}

@media only screen and (min-width: 770px) and (max-width: 992px) {
  .backColor {
    background-color: white;
    display: flex;
    height: 690px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .contactPhoto {
      img {
        height: 25vh;
        margin-left: -20px;
        margin-top: 70px;
      }
    }

    .formTitle {
      h1 {
        font-size: 2em;
      }
    }

    .formContainer {
      margin-left: 20px;
      width: 350px;
    }
  }
}
