@import "../abstracts/variables";
@import "../components/navBar";

/* ----- HOME ----- */

/* Tags */

body {
  background-color: $grey-color;
  height: 638px;
}

/* Classes */

.section1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 250px;

  h1 {
    color: $light-grey-color;
    font-family: "Roboto Slab", serif;
    font-size: 50px;
  }

  h3 {
    color: $purple-color;
  }
}

.section2 {
  img {
    height: 701px;
    margin-left: 8px;
  }
}

/* MEDIA QUERIES */

@media only screen and (min-width: 400px) and (max-width: 599px) {
  .section1 {
    margin-top: 50px;
    margin-bottom: 50px;

    h1 {
      font-size: 40px;
    }

    h3 {
      font-size: 22px;
    }
  }

  .section2 {
    display: flex;
    justify-content: center;
    img {
      height: 300px;
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 757px) {
  .section1 {
    margin-top: 50px;
    margin-bottom: 50px;

    h1 {
      font-size: 50px;
    }

    h3 {
      font-size: 28px;
    }
  }
  .section2 {
    display: flex;
    justify-content: center;
    img {
      height: 330px;
    }
  }
}

@media only screen and (min-width: 758px) and (max-width: 992px) {
  .section1 {
    margin-top: 50px;
    margin-bottom: 50px;

    h1 {
      font-size: 50px;
    }

    h3 {
      font-size: 28px;
    }
  }
  .section2 {
    display: flex;
    justify-content: center;
    img {
      height: 350px;
    }
  }
}
