@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../components/navBar";

/* ----- MY WORK ----- */

/* Classes */

.projects {
  background-color: white;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  width: 55em;

  .title {
    margin-bottom: 30px;

    h2 {
      color: $purple-color;
      font-family: "Roboto Slab", serif;
      text-align: left;
      margin-bottom: 20px;

      span {
        background-color: rgba(170, 242, 219, 0.4);
        border-radius: 20px;
      }
    }

    h6 {
      color: $grey-color;
      font-family: $font-titles;
      margin-top: -15px;
    }
  }

  .card {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 50px;

    .card-image {
      height: 180px;
    }

    .card-title {
      color: $grey-color;
      font-family: $font-titles;
      margin-left: 10px;
      margin-top: 15px;
    }

    .card-body {
      font-family: $font-stack;
      height: 270px;
      padding: 10px;
    }
  }
}

/* MEDIA QUERIES */

@media only screen and (min-width: 400px) and (max-width: 599px) {
  .container {
    width: 55vw;
  }

  .card-body {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55vw;
  }
}
