/* Colors */

$grey-color: #413e3b;
$light-grey-color: #b5b4ba;
$green-color: #aaf2db;
$purple-color: #bfa2cd;
$nav-bar-color: #21201f;


/* Fonts */

$font-stack: 'Roboto', sans-serif;
$font-titles:'Roboto Slab', serif;