@import "../abstracts/variables";

/* ----- Navbar ----- */

/* Tags */

ul {
  background-color: $nav-bar-color;
  display: flex;
  justify-content: flex-end;
  max-height: 100vh;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  color: $light-grey-color;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: $purple-color;
}

@media only screen and (max-width: 599px) {
  .navBar {
    width: 100%;
  }
}
