/* Colors */
/* Fonts */
/* Colors */
/* Fonts */
/* ----- Navbar ----- */
/* Tags */
ul {
  background-color: #21201f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-height: 100vh;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  color: #b5b4ba;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: #bfa2cd;
}

@media only screen and (max-width: 599px) {
  .navBar {
    width: 100%;
  }
}

/* Colors */
/* Fonts */
/* Colors */
/* Fonts */
/* ----- Navbar ----- */
/* Tags */
ul {
  background-color: #21201f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-height: 100vh;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  color: #b5b4ba;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: #bfa2cd;
}

@media only screen and (max-width: 599px) {
  .navBar {
    width: 100%;
  }
}

/* ----- HOME ----- */
/* Tags */
body {
  background-color: #413e3b;
  height: 638px;
}

/* Classes */
.section1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 250px;
}

.section1 h1 {
  color: #b5b4ba;
  font-family: "Roboto Slab", serif;
  font-size: 50px;
}

.section1 h3 {
  color: #bfa2cd;
}

.section2 img {
  height: 701px;
  margin-left: 8px;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 400px) and (max-width: 599px) {
  .section1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .section1 h1 {
    font-size: 40px;
  }
  .section1 h3 {
    font-size: 22px;
  }
  .section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section2 img {
    height: 300px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 757px) {
  .section1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .section1 h1 {
    font-size: 50px;
  }
  .section1 h3 {
    font-size: 28px;
  }
  .section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section2 img {
    height: 330px;
  }
}

@media only screen and (min-width: 758px) and (max-width: 992px) {
  .section1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .section1 h1 {
    font-size: 50px;
  }
  .section1 h3 {
    font-size: 28px;
  }
  .section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section2 img {
    height: 350px;
  }
}

/* Colors */
/* Fonts */
/* Colors */
/* Fonts */
/* ----- Navbar ----- */
/* Tags */
ul {
  background-color: #21201f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-height: 100vh;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  color: #b5b4ba;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: #bfa2cd;
}

@media only screen and (max-width: 599px) {
  .navBar {
    width: 100%;
  }
}

/* ----- ABOUT ----- */
/* Classes */
.section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 120px;
}

.section3 img {
  border: 15px solid #aaf2db;
  height: 60vh;
}

.section4Container {
  background-color: white;
  height: 700px;
}

.section4Container .section4 {
  margin-top: 137px;
  margin-left: 170px;
  margin-right: 120px;
}

.section4Container .section4 h2 {
  color: #bfa2cd;
  font-family: "Roboto Slab", serif;
  text-align: left;
  margin-bottom: 20px;
}

.section4Container .section4 h2 span {
  background-color: rgba(170, 242, 219, 0.4);
  border-radius: 20px;
}

.section4Container .section4 p {
  margin-right: 70px;
}

@media only screen and (min-width: 400px) and (max-width: 650px) {
  .section3 {
    margin-top: 122px;
  }
  .section3 img {
    margin-bottom: 122px;
  }
  .section4 {
    width: 300px;
    margin-left: 50px;
  }
  .section4 h2 {
    margin-left: -80px;
    margin-top: -40px;
  }
  .section4 p {
    margin-left: -80px;
  }
}

@media only screen and (min-width: 651px) and (max-width: 935px) {
  .section3 {
    margin-top: 122px;
  }
  .section3 img {
    margin-bottom: 122px;
  }
  .section4 {
    width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section4 p {
    margin-right: 0px;
  }
}

@media only screen and (min-width: 936px) and (max-width: 974px) {
  .section3 {
    margin-top: 122px;
  }
  .section3 img {
    margin-bottom: 122px;
  }
  .section4 {
    width: 520px;
    margin-left: 50px;
  }
  .section4 h2 {
    margin-left: 120px;
  }
  .section4 p {
    margin-left: 120px;
  }
}

/* Colors */
/* Fonts */
/* Colors */
/* Fonts */
/* ----- Navbar ----- */
/* Tags */
ul {
  background-color: #21201f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-height: 100vh;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  color: #b5b4ba;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: #bfa2cd;
}

@media only screen and (max-width: 599px) {
  .navBar {
    width: 100%;
  }
}

/* ----- CONTACT ME ----- */
/* Tags */
label {
  color: #413e3b;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  padding-bottom: 10px;
}

/* Class's */
.backColor {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 700px;
}

.container {
  margin-top: 70px;
  margin-bottom: 120px;
  padding-top: 35px;
}

.container .contactPhoto img {
  height: 30vh;
  margin-left: -130px;
  margin-top: 60px;
}

.container .formTitle {
  margin-bottom: 20px;
  margin-top: 50px;
}

.container .formTitle h1 {
  font-family: "Roboto Slab", serif;
  color: #bfa2cd;
  font-size: 3em;
}

.container .formContainer {
  margin-left: 30px;
}

.container .formContainer .email {
  padding-top: 20px;
}

.container .formContainer .country {
  padding-top: 20px;
}

.container .formContainer .message {
  padding-top: 20px;
}

.container .formContainer .submit {
  margin-top: 22px;
  background-color: #bfa2cd;
  border-color: #b5b4ba;
  color: white;
}

.container .formContainer .submit:hover {
  background-color: white;
  border-color: #bfa2cd;
  color: #bfa2cd;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 400px) and (max-width: 769px) {
  .backColor {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 800px;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  .container .contactPhoto img {
    height: 25vh;
    margin-left: 30px;
    margin-top: 70px;
  }
  .container .formTitle h1 {
    font-size: 2em;
  }
  .container .formContainer {
    margin-left: 20px;
    width: 350px;
  }
}

@media only screen and (min-width: 770px) and (max-width: 992px) {
  .backColor {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 690px;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  .container .contactPhoto img {
    height: 25vh;
    margin-left: -20px;
    margin-top: 70px;
  }
  .container .formTitle h1 {
    font-size: 2em;
  }
  .container .formContainer {
    margin-left: 20px;
    width: 350px;
  }
}

/* Colors */
/* Fonts */
/* Colors */
/* Fonts */
/* ----- Navbar ----- */
/* Tags */
ul {
  background-color: #21201f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-height: 100vh;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  color: #b5b4ba;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: #bfa2cd;
}

@media only screen and (max-width: 599px) {
  .navBar {
    width: 100%;
  }
}

/* ----- MY WORK ----- */
/* Classes */
.projects {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  width: 55em;
}

.container .title {
  margin-bottom: 30px;
}

.container .title h2 {
  color: #bfa2cd;
  font-family: "Roboto Slab", serif;
  text-align: left;
  margin-bottom: 20px;
}

.container .title h2 span {
  background-color: rgba(170, 242, 219, 0.4);
  border-radius: 20px;
}

.container .title h6 {
  color: #413e3b;
  font-family: "Roboto Slab", serif;
  margin-top: -15px;
}

.container .card {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 50px;
}

.container .card .card-image {
  height: 180px;
}

.container .card .card-title {
  color: #413e3b;
  font-family: "Roboto Slab", serif;
  margin-left: 10px;
  margin-top: 15px;
}

.container .card .card-body {
  font-family: "Roboto", sans-serif;
  height: 270px;
  padding: 10px;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 400px) and (max-width: 599px) {
  .container {
    width: 55vw;
  }
  .card-body {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 55vw;
  }
}

/* ----- Geral ----- */
/* Tags */
body {
  background-color: #413e3b;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Classes */
.noPadding {
  padding: 0;
}
/*# sourceMappingURL=styles.css.map */