@import "./abstracts/variables";
@import "./components/navBar";
@import "./pages/home";
@import "./pages/aboutMe";
@import "./pages/contactMe";
@import "./pages/myWork";



/* ----- Geral ----- */

/* Tags */

body{
    background-color: $grey-color;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Classes */

.noPadding{
    padding: 0;
}